* {
  font-family: "Poppins";
}

li.active a {
  border-bottom: 2px solid #a14a4c;
}

.mobile-menu {
  transition: all 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
}

.mobile-menu.open {
    max-height: 300px;
}

.hamburger span {
    transition: all 0.3s ease-in-out;
}

.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}

section.main {
  background-image: url('Imagenes/fondo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

section.main h1{
  font-weight: 700;
}

section.hero {
  background-color: #FEFBFF;
}

section.productos{
  background-image: url('Imagenes/background.png');
}

.valores{
  height: -webkit-fill-available;
}

.wpp {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.contact-bg {
  background: linear-gradient(135deg, rgba(36, 34, 35, 0.9) 0%, rgba(59, 58, 58, 0.7) 100%), url('https://images.unsplash.com/photo-1554224155-6726b3ff858f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  background-position: center;
}

#popup {
  box-shadow: -4px 10px 10px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 639px) { 
    section.main {
        background-position:initial;
    }
}