* {
  font-family: "Poppins";
}

section.main {
  background-image: url('Imagenes/background.avif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

section.main h1{
  font-weight: 700;
}

section.hero {
  background-color: white;
}

section.eleccion{
  background-image: url('Imagenes/background.png');
}

.valores{
  height: -webkit-fill-available;
}

.wpp {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

@media screen and (max-width: 639px) { 
    section.main {
        background-position:initial;
    }
}